In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# Imports data and corpus information from csv downloaded from website (https://www.peaceagreements.org/list)
pax_df = pd.read_csv('pax_all_agreements_data_20191118.csv')
pax_corpus_df = pd.read_csv('pax_all_agreements_corpus.csv')

# Checks size dataframes
print(pax_df.shape)
print(pax_corpus_df.shape)

(1789, 266)
(1789, 12)

In [3]:
# Shows data head
pax_df.head()

,Con,Contp,PP,PPName,Reg,AgtId,Agt,Dat,Status,Lgt,...,TjRep,TjRSym,TjRMa,TjNR,ImUN,ImOth,ImRef,ImPK,ImE,ImSrc
0,Afghanistan,Government,2.0,Afghanistan: 2000s Post-intervention process,Europe and Eurasia,1739,Agreement between the Islamic Republic of Afgh...,2016-09-22,Multiparty signed/agreed,4,...,0,0,0,0,0,0,0,0,1,1
1,Afghanistan,Government,2.0,Afghanistan: 2000s Post-intervention process,Europe and Eurasia,1923,Agreement between the two campaign teams regar...,2014-09-21,Multiparty signed/agreed,4,...,0,0,0,0,1,1,0,0,0,1
2,Afghanistan,Government,2.0,Afghanistan: 2000s Post-intervention process,Europe and Eurasia,864,Tokyo Declaration Partnership for Self-Relianc...,2012-07-08,Multiparty signed/agreed,14,...,0,0,0,1,0,0,0,0,1,1
3,Afghanistan,Government,2.0,Afghanistan: 2000s Post-intervention process,Europe and Eurasia,848,Conclusions of the Conference on Afghanistan a...,2011-12-05,Multiparty signed/agreed,7,...,0,0,0,1,1,0,0,0,0,1
4,Afghanistan,Government,2.0,Afghanistan: 2000s Post-intervention process,Europe and Eurasia,849,Istanbul Process on Regional Security and Coop...,2011-11-02,Multiparty signed/agreed,10,...,0,0,0,1,0,0,0,0,0,1

In [4]:
# Shows corpus head
pax_corpus_df.head()

,AgreementId,Name,Region,Country,Peace Process,Peace Process Name,Stage,Signed Date,Agreement/Conflict Level,Conflict Nature,Agreement Status,Agreement Text
0,1739,Agreement between the Islamic Republic of Afgh...,Europe and Eurasia,Afghanistan,2.0,Afghanistan: 2000s Post-intervention process,SubPar,2016-09-22,Intra,Government,Multiparty signed/agreed,Agreement Between Goira & Hezb-E-Islami Of Afg...
1,1923,Agreement between the two campaign teams regar...,Europe and Eurasia,Afghanistan,2.0,Afghanistan: 2000s Post-intervention process,Imp,2014-09-21,Intra,Government,Multiparty signed/agreed,Agreement between the Two Campaign Teams Regar...
2,864,Tokyo Declaration Partnership for Self-Relianc...,Europe and Eurasia,Afghanistan,2.0,Afghanistan: 2000s Post-intervention process,Imp,2012-07-08,InterIntra,Government,Multiparty signed/agreed,The Tokyo Declaration Partnership for Self-Rel...
3,848,Conclusions of the Conference on Afghanistan a...,Europe and Eurasia,Afghanistan,2.0,Afghanistan: 2000s Post-intervention process,Pre,2011-12-05,InterIntra,Government,Multiparty signed/agreed,The International Afghanistan Conference in Bo...
4,849,Istanbul Process on Regional Security and Coop...,Europe and Eurasia,Afghanistan,2.0,Afghanistan: 2000s Post-intervention process,Imp,2011-11-02,InterIntra,Government,Multiparty signed/agreed,Istanbul Process on Regional Security and Coop...

In [5]:
# Shows data basic information
pax_df.describe()

,PP,AgtId,Lgt,N_characters,Loc1GWNO,Loc2GWNO,UcdpAgr,PamAgr,CowWar,GCh,...,TjRep,TjRSym,TjRMa,TjNR,ImUN,ImOth,ImRef,ImPK,ImE,ImSrc
count,1782.000000,1789.000000,1789.000000,1789.000000,1769.000000,232.000000,2.970000e+02,33.000000,1111.000000,1789.000000,...,1789.000000,1789.000000,1789.000000,1789.000000,1789.000000,1789.000000,1789.000000,1789.000000,1789.000000,1789.000000
mean,89.603255,1106.604807,6.359978,11959.409726,528.292256,439.159483,2.903701e+10,17.272727,760.739874,0.313583,...,0.174958,0.010620,0.101174,0.295137,0.199553,0.241476,0.010061,0.294019,0.389603,0.999441
std,47.323516,635.813541,17.493402,37567.806638,227.494776,197.221974,3.602522e+11,10.022702,253.699787,0.773252,...,0.550695,0.102536,0.301643,0.603943,0.399776,0.428098,0.099829,0.455728,0.487797,0.023643
min,1.000000,1.000000,1.000000,0.000000,41.000000,2.000000,2.400000e+01,1.000000,139.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,51.000000,547.000000,1.000000,2389.000000,359.000000,345.000000,1.107000e+03,9.000000,817.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,94.000000,1089.000000,2.000000,4362.000000,540.000000,371.000000,1.334000e+03,17.000000,857.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,120.000000,1671.000000,5.000000,9443.000000,678.000000,625.000000,1.523000e+03,26.000000,905.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,203.000000,2231.000000,323.000000,908459.000000,940.000000,770.000000,5.171991e+12,34.000000,941.000000,3.000000,...,3.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# Shows corpus basic information
pax_corpus_df.describe()

       AgreementId  Peace Process
count  1789.000000    1782.000000
mean   1106.604807      89.603255
std     635.813541      47.323516
min       1.000000       1.000000
25%     547.000000      51.000000
50%    1089.000000      94.000000
75%    1671.000000     120.000000
max    2231.000000     203.000000

In [7]:
# Shows corpus column types
pax_df.dtypes

Con        object
Contp      object
PP        float64
PPName     object
Reg        object
           ...
ImOth       int64
ImRef       int64
ImPK        int64
ImE         int64
ImSrc       int64
Length: 266, dtype: object

In [8]:
# Shows corpus column types
pax_corpus_df.dtypes

AgreementId                   int64
Name                         object
Region                       object
Country                      object
Peace Process               float64
Peace Process Name           object
Stage                        object
Signed Date                  object
Agreement/Conflict Level     object
Conflict Nature              object
Agreement Status             object
Agreement Text               object
dtype: object

In [9]:
# Adds year column
pax_df['Year'] = pax_df['Dat'].apply(lambda x: int(x.split('-')[0]))

In [12]:
# Converts multiple Countries/Regions in multiples rows adding a new col (UniqCon) of one country name
pax_con_df = pd.DataFrame({col:np.repeat(pax_df[col].values, pax_df['Con'].str.split('/').str.len()) 
                                for col in pax_df.columns}
                         ).assign(**{'UniqCon':np.concatenate(pax_df['Con'].str.split('/'))})

### Countries/Regions in PA-X

In [13]:
# Shows Countries and Regions conflict for all years
(pax_con_df.groupby('UniqCon')['Reg'].agg(Count= 'count', Reg= 'last')
                .to_csv(path_or_buf='output/countries.csv', header=['Count', 'Region'], index_label='Countries'))

In [14]:
# Shows Countries and Regions conflict a year
years = [1990, 2018]

for year in years:

    (pax_con_df[pax_con_df['Year']==year].groupby('UniqCon')['Reg']
        .agg(Count= 'count', Reg= 'last').to_csv(path_or_buf='output/countries_{}.csv'.format(year),
                                                 header=['Count', 'Region'], index_label='Countries'))

### Colors used in Circle packed graphs:
- Africa -> #bfbf69
- Cross-regional -> #bf69bf
- Asia -> #69bf69
- Middle East -> #69bfbf
- Europe -> #bf6969
- Americas -> #6969bf

### Evolution study

In [15]:
# Calculates conflict types for each year
(pax_df.groupby(['Year', 'Contp'])['Year']
    .count().to_csv(path_or_buf='output/conflict_types.csv', header=['Count'], index_label=['Year', 'Conflict_type']))

In [16]:
# Calculates total agreements per year
group_yr_df = pd.DataFrame({'Total' : pax_df.groupby(['Year'])['Year'].count()}) 

# Calculates groups anti-discrimination and substantive references in percentage per year
group_cols = ['GCh', 'GDis', 'GAge', 'GMig', 'GRa', 'GRe', 'GInd', 'GOth', 'GRef']

for group_col in group_cols:
    group_yr_df[group_col] = pd.Series((pax_df[pax_df[group_col]>=2]
                                        .groupby(['Year'])['Year'].count()*100/group_yr_df['Total']).fillna(0))

# Exports to csv file
(group_yr_df[group_cols].stack()
    .to_csv(path_or_buf='output/groups_yr.csv', header=['Count'], index_label=['Year', 'Group_type']))

In [17]:
# Calculates gender references in percentage per year and adds it as new columns in group_yr_df
gender_cols = ['GeWom', 'GeMe', 'GeSo', 'GeFa']

for gender_col in gender_cols:
    group_yr_df[gender_col] = pd.Series((pax_df[pax_df[gender_col]==1]
                                        .groupby(['Year'])['Year'].count()*100/group_yr_df['Total']).fillna(0))

# Exports to csv file
(group_yr_df[gender_cols].stack()
    .to_csv(path_or_buf='output/gender_yr.csv', header=['Count'], index_label=['Year', 'Grender_type']))

### Adding external data
#### Human Development Index (HDI)

In [18]:
# Imports data information from xls downloaded from website (http://hdr.undp.org/en/content/human-development-index-hdi)
hdi_df = pd.read_excel('data/HDI_2018_all_indicators.xlsx', sheet_name='Data', usecols=[4, 31, 32], nrows=189)

In [19]:
hdi_df.tail()

                           country_name   2016  2017
184  Venezuela (Bolivarian Republic of)   77.0    78
185                            Viet Nam  116.0   116
186                               Yemen  172.0   178
187                              Zambia  141.0   144
188                            Zimbabwe  155.0   156

In [20]:
pax_con_hdi_df = pax_con_df.groupby('UniqCon')['Reg'].agg(Count= 'count', Reg= 'last')

In [21]:
(pd.merge(pax_con_hdi_df, hdi_df, left_index=True, right_on='country_name').drop(2016, axis=1)
        .to_csv(path_or_buf='output/contries_hdi.csv', header=['Count', 'Reg', 'Country', 'HDI'], index=False))